.mainContainer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;

}

@media (min-width: 1500px) {
    .mainContainer {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 150px;
        background-image: url('../../public/imgs/marco.png');
        background-size: cover;
        margin-top: -150px;
        margin-bottom: -5px;
    }

  }
@media (min-width: 1700px) {
    .mainContainer {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 150px;
        background-image: url('../../public/imgs/marco2.png');
        background-size: cover;
        margin-top: -250px;
        margin-bottom: -2px;
    }

  }