.mainContainer {
    background-color: white;
    height: 100vh;
    width: 100%;
}

.logo{
    margin-top: 40px;
    width: 300px;
    height: auto;
}

.logoContainer {
    width: 100%;
    text-align: center;
}