.mainContainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: auto;  
    background-image: url('../../public/imgs/Texture.png');
    background-size: cover;    
    h1 {
        font-family: 'gothamultra';
        color: #E6BA07;
        text-align: center;
        font-size: 3.2em;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.imageContainer {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.topImageContainer {
    height: 40vh;
    margin: 20px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.bottomImageContainer {
    height: 40vh;
    margin: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin-bottom: 50px;
    flex-wrap: wrap;

}

.img1, .img2 {
    height: 100%;
    width: 22vw;   
    object-fit: cover;
    background-size: cover;
}

.img3 {
    height: 100%;
    object-fit: cover;
    width: 37vw;   
    background-size: cover;
}

@media (max-width: 900px) {
    .topImageContainer, .bottomImageContainer {
        height: auto;    
    }

    .img1, .img2 {
        height: 100%;
        width: 50%;   
        object-fit: cover;
        background-size: cover;
        padding: 0px 10px;
    }
    
    .img3 {
        height: 100%;
        object-fit: cover;    
        width: 100%;   
        height: 30vh;
        background-size: cover;
        margin-top: 20px;
    }
  }
@media (max-width: 550px) {
    .topImageContainer, .bottomImageContainer {
        height: auto;    
    }

    .img1, .img2 {
        height: 100%;
        width: 50%;   
        object-fit: cover;
        background-size: cover;
    }
    
    .img3 {
        height: 100%;
        object-fit: cover;    
        width: 100%;   
        height: 30vh;
        background-size: cover;
        margin-top: 20px;
    }
  }