.mainContainer {
    width: 100%;
    height: auto;
    background-color: #B49207;
    background-image: url('../../public/imgs/Texture2.png');
    background-size: cover;
    background-position: 10cqw;
    padding-bottom: 150px;
    padding-top: 40px;
}

.headingContainer {
    width: 100%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    font-family: 'gothamultra';
    margin-bottom: 100px;
    h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
}

.actContainer {
    display: flex;
    justify-content: center;
    margin: auto;   
    flex-wrap: wrap;
}

.firstPair {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    cursor: pointer;
    justify-content: center;
}

.secondPair {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    cursor: pointer;
}

.singleAct {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.para {
    position: absolute;
    font-family: 'gothamultra';
}


.img1 {
    width: 22vw;
    height: auto;
    margin: 3px;
    border-radius: 2px;
    max-width: 400px;
    min-width: 250px;
}

.button {
    top: 0;
    position: absolute;
}

.singleAct{
    h2 {
        text-align: center;
        font-family: 'gothambold';
        color: white;
        text-transform: uppercase;
        margin-top: 10px;
        font-size: 1rem;
    }
}

@media (max-width: 510px) {
    .img1 {
        width: 75vw;
        height: auto;
        margin-bottom: 40px;
        border-radius: 2px;
        max-width: none;
        min-width: 250px;
    }
    
}