.mainContainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: 140vh;
    background-image: url('../../public/imgs/Texture.png');
    background-size: cover;    
    padding-bottom: 500px;
}

.heading {
    font-family: 'gothamultra';
    color:#E6BA07;
    font-size: 3em;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}