.mainContainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    height: 120vh;
    background-image: url('../../public/imgs/Texture.png');
    background-size: cover;
    padding-top: 100px;
    overflow-x: hidden;
    
}

.heading {
    font-family: 'gothamultra';
    color:#E6BA07;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    padding: 0px 20px 20px 20px;
    opacity: 0;
    transition: all 1s;
    transform: translateX(-700px);
}


.marcoContainer {
    width: 100%;
    margin-top: 650px;
}

.animation {
    opacity: 1;
    transform: translateX(0px);

  }
  
 



@media (max-width: 500px) {
    .mainContainer {
        height: 100vh;
    }
    .heading {
        font-family: 'gothamultra';
        color:#E6BA07;
        font-size: 2em;
        width: 100%;
        text-align: center;
        padding-top: 50px;
    }

  }