.mainContainer {
    display: flex;
    height: auto;
    width: 100%;
    // background-image: url('../../public/imgs/Experiencia1.png');
    background-color: #B49207;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}

.marco {
    width: 100%;
    height: auto;
    border: 1px solid red;
    position: relative;
    top: 20px;
}

.headingContainer {
    flex: 1;
    position: sticky;
    top: 40px;
    align-self: flex-start;
    font-family: 'gothamultra';
    text-align: center;
    margin-top: 100px;
    padding-bottom: 70px;
    span {
        color: whitesmoke;
    }
    h1 {
        margin-bottom: 40px;
    }
    p {
        font-family: 'gothambold';
        margin: 0px 40px 0px 40px;
    }
}

.img {
    width: 280px;
    height: auto;
}

.cardContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single {
    font-family: 'gothambook';
    text-align: left;
    font-size: 0.9em;
    margin: 40px auto 40px auto;

}

@media (max-width: 1000px) {
    .mainContainer {
        flex-direction: column;
        height: 130vh;

    }
    .cardContainer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        overflow: auto;
        white-space: nowrap;
    }
    .mainContainer {
        background-color: #B49207;

    }

    .single {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        margin: 20px 10px 20px 10px;
        // height: 100% !important;
        p {
            white-space: normal;
            text-align: left;
            }
    }
    .headingContainer {
        position: relative;
        top: 0px;
        margin: auto;
        padding: 0px;
    }

  }