.mainContainer {
    margin-top: -600px;
    display: flex;
    width: 100%;
    background-image: url('../../public/imgs/Experiencia.png');
    background-size: cover;
    padding-top: 540px;
    padding-bottom: 640px;
}

.headingContainer {
    flex: 1;
    position: sticky;
    top: 40px;
    align-self: flex-start;
    font-family: 'gothamultra';
    text-align: center;
    margin-top: 100px;
    span {
        color: whitesmoke;
    }
}

.img {
    width: 280px;
    height: auto;
}

.cardContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single {
    font-family: 'gothambook';
    text-align: left;
    font-size: 0.9em;
    margin: 40px auto 40px auto;

}

@media (max-width: 500px) {
    .mainContainer {
        flex-direction: column;
    }
    .cardContainer{
        // display: block;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        overflow: auto;
        white-space: nowrap;
    }
    .mainContainer {
        background-image: url('../../public/imgs/backmobile3.png');
        background-size: cover;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .single {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        margin: 20px 10px 20px 10px;
        height: 100% !important;
        p {
            white-space: normal;
            text-align: left;
            }
    }
    .headingContainer {
        position: relative;
        top: 0px;
        margin: auto;
        margin-bottom: 20px;
    }

  }